
*{
    margin: 0px;
    padding: 0px;
    font-family: arial,sans-serif;
}

.titulo{
    margin: 15px;
}

.sub-titulo{
    font-size: 25px;
    margin-left: 30px;
}

.tabela-principal{
    width: 250px;
    table-layout: auto;
    border-collapse: collapse;
    margin: 30px;
}

.tabela-principal,th{
    border: 1px solid #fff;
    background-color: #424250;
    color: #fff;
}

.tabela-principal,th,td{
    height: 35px;
    vertical-align: middle;
    text-align: center;
}

th{
    background-color: #bb86fc;
}

td{
    border: 1px solid #fff;
    letter-spacing: 1px;
}

.tabCasa{
    background: #00c4b4;
}

