
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    border:none;
    outline: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

.container{
    display:flex;
    justify-content: space-between;
    max-width: 144rem;
    padding: 3rem 0;
    margin: 0 auto;
    min-height: 100vh;
}

.container .descricao-do-banco{
    width: 37rem;
    margin: 0 5rem;
}

.container .descricao-do-banco h1{
    color: #000;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.container .descricao-do-banco p{
    font-size: 2rem;
    margin-bottom: 5rem;
}

.container .descricao-do-banco .btn{
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-color: #5BC241;
    font-size: 1.5rem;
    color: #fff;
}

.container .image{
    width: 85rem;
    height: 350px;
}

.container .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:1024px){
    .container .descricao-do-banco{
        width: 30rem;
        margin: 0 3rem;
    }

    .container .descricao-do-banco h1{
        color: #000;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .container .descricao-do-banco p{
        margin-bottom: 3rem;
    }

    .container .image{
        width: 75rem;
        height: 300px;
    }
}

@media (max-width:768px){
    .container{
        display: block;
        text-align: center;
        position: relative;
        min-height: 60rem;
        margin: 0 auto;
    }

    .container .descricao-do-banco{
        max-width: 50rem;
        margin:0 auto;
    }

    .container .image{
        width: 90%;
        height: 22rem;
        margin: 0 auto;
    }
    .container .image img{
        width: 100%;
        height: 100%;
    }

    .container .descricao-do-banco .btn{
        display: inline-block;
        position: absolute;
        bottom: 10rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem 2.5rem;
        font-size: 2rem;
    }
}

@media(max-width:425px){

    .container .descricao-do-banco{
        width: 90%;
    }

    .container .image{
        width: 90%;
        height: 15rem;
    }
    .container .image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container .descricao-do-banco .btn{
        bottom: 19rem;
        width: 17rem;
    }
}

@media (max-width:375px){
    .container .descricao-do-banco .btn{
        bottom: 15rem;
    }
}








