
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

html{
    font-size: 62.5%;
}


.container-grid{
    margin: 20px;
    display: grid;
    min-height: 100vh;
    grid: "tela-video-grande tela-video-grande propagranda";
}

.tela-video-grande{
    grid-area: tela-video-grande;
    background-color: red;
}

.texto-em-destaque{
    grid-area: texto-em-destaque;
    background-color: blue;
}

.propagranda{
    grid-area: propagranda;
    background-color: yellow;
}

.tela-video-pequena-01{
    grid-area: tela-video-pequena-01;
    background-color: green;
}

.tela-video-pequena-02{
    grid-area: tela-video-pequena-02;
    background-color: turquoise;
}

.tela-video-pequena-03{
    grid-area: tela-video-pequena-03;
    background-color: purple;
}